<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toyoung"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.toyuong.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.toyoung.StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.toyoung.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.toyoung.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.MainHomePageActivity"
            android:label="@string/title_activity_main_home_page"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.MainMeActivity"
            android:label="@string/title_activity_main_me"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.MainHotActivity"
            android:label="@string/title_activity_main_hot"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.MainFindActivity"
            android:label="@string/title_activity_main_find"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.toyoung.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.SubjectActivity"
            android:label="@string/title_activity_subject"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.AddQuestionActivity"
            android:label="@string/title_activity_add_question"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.toyoung.liu.SubjectListActivity"
            android:label="@string/title_activity_subject_list"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tuyoung.wu.Message"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.tuyoung.wu.Setting"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.tuyuong.ge.MainHotItemActivity"
            android:label="@string/title_activity_main_hot_answers_items"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tuyuong.ge.HotAnswerDetailActivity"
            android:label="@string/title_activity_hot_answer_detail"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tuyuong.ge.HotFirstItemActivity"
            android:label="@string/title_activity_hot_first_item"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tuyuong.ge.SendAnswerActivity"
            android:label="@string/title_activity_send_answer"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>